<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="li.ruoshi.playground" >

    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".PlaygroundApp"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewPagerDemo"
            android:label="@string/title_activity_view_pager_demo" >
        </activity>
        <activity
            android:name=".PathViewActivity"
            android:label="@string/title_activity_path_view" >
        </activity>
        <activity
            android:name=".AnimatedButtonActivity"
            android:label="@string/title_activity_animated_button" >
        </activity>
        <activity
            android:name=".DotProgressBarActivity"
            android:label="@string/title_activity_dot_progress_bar" >
        </activity>
        <activity
            android:name=".RxDemoActivity"
            android:label="@string/title_activity_rx_demo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AnkoActivity"
            android:label="@string/title_activity_anko_demo" >
        </activity>
        <activity
            android:name=".AnimatedFinishActivity"
            android:label="@string/title_activity_animated_finish"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WaveProgressActivity"
            android:label="@string/title_activity_wave_progress" >
        </activity>
        <activity
            android:name=".DaggerDemoActivity"
            android:label="@string/title_activity_cal" >
        </activity>
        <activity
            android:name=".CalDemoActivity"
            android:label="@string/title_activity_cal_demo" >
        </activity>
    </application>

</manifest>
